body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

canvas + div {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

canvas + div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
